//- Навигация
mixin nav(className, modName, obj, activeItem)
    nav(class=`${className} ${className}_${modName}`)
        ul(class=`${className}__list`)
            each item, index in obj
                li(class=`${className}__item` + ((index === activeItem) ? ` ${className}__item_active` : ''))
                    a(href=`./${item.link}.html` class=`${className}__link`)= item.title
//-Пагинация
mixin pagination(item, activeItem)
    .pagination
        ul.pagination__list
            -for (var i = 0; i < item; i++)
                li(class=`pagination__item` + ((i+1 === activeItem) ? ` pagination__item_active` : ''))
                    a.pagination__link(href='#') #{[i+1]}
